body {
	
}

.progress{
	position: absolute;
	top: 0;
	left:0;
	height: 10px;
	background-color: red;
	width: 0%;
}

.progress-input{
	position: absolute;
	bottom: 0;
	left: 0;
	height: 30px;
	background-color: green;
	width: 0%;
}
#input{
	display: none;
	position: relative;
	margin: 0 auto;
	font-size: 22px;
	width: 500px;
	height: 150px;
	resize: none;
	
}
.word{
	display:none;
	font-size: 60px;
	margin: 10px 10px 50px 10px;
}
.timer{
	font-size: 35px;
}
.body{
	padding: 20px;
	margin: 0 auto;
	width: 95%;

	border: solid 1px black;
	border-radius: 5px;
	text-align: center;

}
