body {
	margin: 0;
	background-color:#353535;
	background-size: cover;
	background-repeat: no-repeat;

}
.username{
  position: absolute;
  top: 0;
  bottom:0;
  right: 0;
  left: 0;
  margin: auto;
  width: 300px;
  height: 200px;
  background-color: white;
}
.username input{
  width: 100%;
  margin: 20px auto;
}
.main{
	display: none;
}
.body{
	position: relative;
	height: 55vh;
	padding: 40px 20px 60px 20px;
	margin: 0 auto;
	width: 95%;
	border: solid 1px black;
	border-radius: 5px;
	text-align: center;
	background-color: white;
	z-index: 1;
}
.input{
	display: none;
	position: relative;
	margin: 0 auto;
	font-size: 22px;
	width: 600px;
	height: 150px;
	resize: none;
	border: 1px solid black;
	border-radius: 5px;
}
.progress{
	position: absolute;
	top: 0;
	left:0;
	height: 10px;
	background-color: #ffd23b;
	width: 0%;
}

.progress-input{
	position: absolute;
	bottom: 0;
	left: 0;
	height: 30px;
	background-color: green;
	width: 0%;
}
.author{
	display: none;
}
.word{
	display:none;
	font-size: 50px;
	margin: 10px 10px 50px 10px;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.timer{
	font-size: 35px;
}
.btnStart{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	width: 150px;
	height: 100px;
	font-size: 30px;
	font-family: roboto;
	background-color: green;
	border: none;
	border-radius: 5px;
	color: white;
	padding: 20px;
	cursor: pointer;
}

.dashboard{
	position: relative;
	bottom: -5px;
	left: 0;
	margin: 0 auto;
	width: 30%;
	height:22vh;
	background-color: #f3fcf0;
	padding: 10px;

}
.dashboard span{
	font-family: Orbitron;
	font-size: 15px;
}
.user-item{
	width: 0%;
	height: 20px;
	background-color: rgb(29, 161,242);
}
